<p>Weathervane is a rails app that provides forecasts and observations from different sources with a unified API.
  This removes some of the complexity of dealing with various providers.</p>

<h2>APIs</h2>

<dl>
  <dt>Providers</dt>
  <dd><a href="<%= providers_path %>">index - all available providers</a></dd>
</dl>
